<section class="resume-section min-height p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto" id="skills-content">
    <h2 class="mb-5">Skills</h2>
    {{ range $index, $value := $.Site.Data.skills.members }}
      <div class="subheading mb-3 skills-heading">{{ .grouping }}</div>
      <ul>
      {{ range .skills }}
        {{ if isset . "name" }}
          <li class="list-inline-item">
            <i class="icon-{{ .icon }}"></i>
            {{if isset . "link"}}
                <a href="{{.link}}">{{ .name }}</a>
            {{ else }}
                {{ .name }}
            {{ end }}
          </li>
        {{ else }}
          <li class="list-inline-item">
            <i class="icon-code }}"></i>
            {{ . }}
          </li>
        {{ end }}
      {{ end }}
      </ul>
    {{ end }}
  </div>
</section>
