<div class="card mb-4">
  {{ with .Resources.GetMatch "image" }}
    {{ $image := .Fit "500x500" }}
    <a href="{{ $.Permalink }}"><img src="{{ $image.RelPermalink }}" class="card-img-top" width="{{ $image.Width }}" height="{{ $image.Height }}" style="height: auto;" loading="lazy"></a>
  {{ end }}
  <div class="card-body">
    <h4 class="card-title">{{ .Title }}</h4>
    <p class="card-text">{{ .Description | safeHTML }}</p>
    <a href="{{ .Permalink }}" class="btn btn-primary">Learn More</a>
  </div>
</div>
<!-- <h3 class="mb-3"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
<div class="resume-item d-flex flex-column flex-md-row mb-3">

  <div class="resume-content " style="width:200px;!important;">
    {{ with .Params.image }}
      <img src="{{ . }}" style="max-height:150px;max-width:150px;"/>
    {{ end }}
  </div>
  <div class="resume-date">
    <p>{{ .Description | safeHTML }}<p>
    <p class><a href="{{.Permalink}}">Read more...</a></p>
  </div>
</div>
<div>{{ partial "techtags" . }}</div> -->
