{{- $placeholder := default "please@enable.javascript" .placeholder -}}
{{- $base := .email | base64Encode -}}
{{- $scrambled := replaceRE "(.)(.)(.)(.)" "$4$3$2$1" $base -}}
{{- $rotated := printf "%s%s" (substr $scrambled 8) (substr $scrambled 0 8) -}}
{{- $obfuscated := replaceRE "(.{4})" "${1}~" $rotated -}}
<a class="js-email-link{{ with .class }} {{ . }}{{ end }}"
  data-email="{{ $obfuscated }}"
  rel="nofollow noindex"
  {{ with .title }}title="{{ . }}"{{ end }}
  {{ with .dataToggle }}data-toggle="{{ . }}"{{ end }}>
  {{- with .icon -}}
  <i class="{{ . }}" aria-hidden="true"></i>
  <span class="sr-only js-email-text"></span>
  {{- else -}}
  <span class="js-email-text"></span>
  {{- end }}
</a>
<noscript>
  <a href="mailto:{{ $placeholder }}"
    rel="nofollow noindex"
    {{ with .title }}title="{{ . }}"{{ end }}>
    {{- with .icon -}}
    <i class="{{ . }}" aria-hidden="true"></i>
    <span class="sr-only">{{ $placeholder }}</span>
    {{- else -}}
    {{ $placeholder }}
    {{- end }}
  </a>
</noscript>
