<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js" integrity="sha256-aZcT9p29I4e3w7VyBLzcPYbTrDUHGKetZaUpPg0sU+s=" crossorigin="anonymous"></script>
<script>
  var $grid = $("#grid").isotope({
    itemSelector: ".grid-item",
    layoutMode: "fitRows",
    fitRows: {
      gutter: -2
    },
    getSortData: {
      date: "[data-date] parseInt",
      weight: "[data-weight] parseInt"
    }
  });
  $(".filter-button-group").on( "click", "button", function() {
    var filterValue = $(this).attr("data-filter");
    $grid.isotope({ filter: filterValue });
  });
  $("#filters").each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( "click", "button", function() {
      $buttonGroup.find(".active").removeClass("active");
      $( this ).addClass("active");
    });
  });
  $("#sort-button").on("click", function() {
    if ($(this).hasClass("by-date")) {
      $grid.isotope({ sortBy: "weight", sortAscending: true });
      $(this).text("Sort by Date");
    } else {
      $grid.isotope({ sortBy: "date", sortAscending: false });
      $(this).text("Sort by Importance");
    }
    $(this).toggleClass("by-date");
  });
</script>
